.comments-enter {
    opacity: 0.01;
}
.comments-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.comments-exit {
    opacity: 1;
}
.comments-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
/*
.comments-exit-done {
    display: none;
}*/
